{{> layout/header}}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>상품명</th>
            <th>상품가격</th>
            <th>상품수량</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>1</td>
            <td>바나나</td>
            <td>1000</td>
            <td>100</td>
        </tr>
        <tr>
            <td>1</td>
            <td>바나나</td>
            <td>1000</td>
            <td>100</td>
        </tr>
        <tr>
            <td>1</td>
            <td>바나나</td>
            <td>1000</td>
            <td>100</td>
        </tr>

        </tbody>
    </table>
</div>
{{> layout/footer}}